17.09.22

-------------------------------------------------Module 1 Python Basics:

# Modul 1 Python Basics:

In [ ]:
print("Hello World")

Hello World

Types:
INT, Real (floats) Numbers with decimal point, Strings

Casting:
You can casting each number with the next methods: int(), float(), str(), bool()

In [ ]:
float(2)
int(3.14159)
str(3.14159)
bool (126734872)
bool (0)

False

Expressions and variables:

10 + 234 - 124...

Operands the numbers -> Operands
Math symbols -> Operators

We can use double slash for integer division, where the result is rounded. Be aware, in some cases, the results are not the same as regular division.

In [ ]:
25//6
25/6

4.166666666666667

Variables to store values:
myVariable = 1

*** Minium name of the values

***** LAB *****

In [ ]:
print ("Hello Monterrey")
print ("Hello\nMexico \\ ")  #print the traditional hello something

#Exercise Types:
#Float
6/2

#Integer (Integer division)
6//2

#Exercise Expression:
30 + 2 * 60

(30+2) * 60

x = 3 +2 *2
y = (3+2) * 2
z = x + y
print(z)

Hello Monterrey
Hello
Mexico \
17

Strings:
It's better to think that an String is the order of letters.

Escape sequences are strings that are difficult to input \n (new line), \t (tAb)

Strings methods:
Strings are methods, remember it!!!

***** LAB STRINGS *****

Stings are indexed, they are a sequence.
Negative indexing are numerated from the last character to the first, i.e. inverse direction

Concatenate
Escape sequences
Methods: upper, replace, find

In [ ]:
a = '1'
b = '2'
c = a + b
print(c)



#Slice Method
#The first number means the index (star at 0), and the second number means the lenght from index to the last element you want start at 1

d = 'ABCDEFG'
print(d[0:2]) 

#Stride
e = 'clocrkr1e1c1t'
e[::2]

#Print out a backslash
print('\\')

#Convert the variable f to uppercase:
f = "u r wrong"
f.upper()


#Consider the variable g, and find the first index of the sub-string snow:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find('snow')
g.replace("Mary", "Bob")

w = "Lizzy"
w[0:2]

12
AB
\

'Li'

--------------------------------------------- Module 2 Python data structures

#Module 2 Python data structures

Tuples.  Immut ables 
List  Mutuables
    difference between append and extend

clone

In [ ]:
#Tuple
A = (0,1,2,3)

#List
B = ["a", "b", "c"]
B[0] = "A"
print(B)

['A', 'b', 'b']

In [ ]:
#######################   LAB Tuples #############################
tuple1 = ('Disco',10, 1.2)
tuple1

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

#Type of each element of the tuple
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

print(type(tuple1[-1]))
print(type(tuple1[-2]))
print(type(tuple1[-3]))

#Concatenate tuples:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

#Slicing
tuple2[0:3] #Slice from index 0 to index 2
tuple2[3:5] #Slice from index 3 to index 4

#length of the tuple:
len(tuple2)

#Sorting:
Ratings = (0,9,6,5,10,8,9,6,2)
RatingsSorted = sorted(Ratings)
RatingsSorted

#Nesting
NestedT = (1, 2, ("pop","rock"), (3,4),("disco",(1,2)))
print("Element 0 of tuple ", NestedT[0])
print("Element 1 of tuple ", NestedT[1])
print("Element 2 of tuple ", NestedT[2])
print("Element 3 of tuple ", NestedT[3])
print("Element 4 of tuple ", NestedT[4])

#Print the first element in the second nested tuples:
NestedT[2][0]

#Quiz:
genres_tuple = ('pop', 'rock', 'soul', 'hard rock', 'soft rock','R&B', 'Progressive rock', 'disco')
len(genres_tuple)
genres_tuple[3]
genres_tuple[3:6]

print(genres_tuple[0:2])
genres_tuple.index('disco')

C_tuple = (-5,1,-3)
SortedC = sorted(C_tuple)
SortedC

Disco
10
1.2
<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
Element 0 of tuple  1
Element 1 of tuple  2
Element 2 of tuple  ('pop', 'rock')
Element 3 of tuple  (3, 4)
Element 4 of tuple  ('disco', (1, 2))
('pop', 'rock')

[-5, -3, 1]

In [ ]:
######################### LAB Lists ##########################################

L = ["Michael Jackson", 10.1, 1982]
L

#Extend:
L.extend(['pop', 10])
L

#Append:
L.append(['pop',10])
L

#Copy and clone:
A = ["Hard rock", 10, 1.2]
B = A
print('A: ', A)
print('B: ', B)

print('B[0]: ', B[0])
A[0] = "Banana"
print('B[0]: ', B[0])    #Be aware of this change, B and A are referencing to the same list in the memory, if we can modify the lists, it should be cloned:

#Cloning
B = A[:]
B

#Quiz:
a_list = [1, 'hello',[1,2,3], True]
a_list[1]
a_list[1:4]

#Concatenate:
qw = [1,'a']
qa =[2,1,'d']

qw + qa

A:  ['Hard rock', 10, 1.2]
B:  ['Hard rock', 10, 1.2]
B[0]:  Hard rock
B[0]:  Banana

[1, 'a', 2, 1, 'd']

In [ ]:
#Sets:

A = ['A', 'B', 'C','A','A','B','C']
x = set(A)
x.add('D')
print(x)

#Intersection of sets:
V = {1,2,3,4,5}
B = {1,3,9,12}

print(V & B)


###################  LAB SETs ##########################

# Verify if the element is in the set
A = {"Thriller", "Back in Black", "AC/DC"}
"AC/DC" in A

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

IntersectionSet = album_set1 & album_set2
IntersectionSet

# Find the difference in set1 but not set2

album_set1.difference(album_set2) 

# Find the union of two sets
album_set1.union(album_set2)



#Suppose that you have two sets: A and B. Set A is a superset of set B if all elements of set B are elements of set A.
#If set A is a superset of set B, then set B is a subset of set A. To check if a set is a subset of another, you use the issubset() method.
#If set A and set B are not equal, set A is a proper superset of set B.
#Logically, a set is a superset of itsel

# Check if superset
set(album_set1).issuperset(album_set2)

# Check if subset
set(album_set2).issubset(album_set1)   



A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))   #Remember Python deletes the repeated elements in a set

album_set3 = album_set1.union(album_set2)
album_set3

{'A', 'D', 'B', 'C'}
{1, 3}
the sum of A is: 6
the sum of B is: 3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

18.09.22

Dictionaries:

In [ ]:
Dict = {"key1": 1, "key 2": "2", "key 3": [3,3,3], "key 4": (4,4,4)}
Dict["key 4"]

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}

release_year_dict.keys()
release_year_dict.values() 


### LAB Dictionaries ###
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}
album_sales_dict["Thriller"]

65

# Module 3 Python Programming Fundamentals

In [ ]:
###### LAB #####

#Rate Back in black 8.5
rate = 8.5

if rate >= 8:
  print("This is Album is Amazing")
else:
  print("This albums isn't amazing")

This is Album is Amazing

Loops:

Range: the size of a list

for
while run under a condition